md-content {
    background: url("/static/img/Medic_FO4.png") no-repeat fixed right bottom;
    height: 100%;
}

md-content > div.ext-content {
    opacity: 0.88;
}

md-content .ext-content {
    margin: 20px;
}

md-input-container:not(.md-input-has-value) input:not(:focus), md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-ampm-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-day-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-hour-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-millisecond-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-minute-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-month-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-second-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-text, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-week-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-year-field {
    color: black;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input::-webkit-calendar-picker-indicator,
input::-webkit-inner-spin-button,
input::-webkit-clear-button {
    display: none;
}

md-card > md-card-title {
    padding: 24px 16px 0px;
}

md-card-avatar {
    text-align: center;
}

md-card-avatar > span {
    line-height: 40px !important;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    md-card-avatar {
        line-height: 40px !important;
    }
}

.md-scroll-mask {
    position: initial;
}

md-card-avatar {
    margin-right: 0px !important;
}

md-card-header-text .md-title:first-letter {
    text-transform: capitalize;
}

md-card-footer {
    text-align: center;
    background-color: gray;
    font-size: 18px;
}

md-card-footer > span {
    color: #FFEB3B;
}

.edit-info-inside-dialog {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
}

.add-more-medication-inside-dialog {
    position: absolute;
    padding-top: 1px;
}