<md-dialog class="angry-dialog">
    <md-dialog-content class="md-dialog-content">
        <p><b ng-bind-html="text"></b></p>
        <img src="/static/img/ANGRY_FO3_small.png" />
        <md-button ng-click="close()">Aceptar</md-button>
    </md-dialog-content>
</md-dialog>