<md-dialog>
    <md-dialog-content class="md-dialog-content">
        <!--fa name="pencil-square-o" size="1" aria-hidden="true" class="edit-info-inside-dialog"></fa!-->
        <h2><fa name="trash-o" size="medium" area-hidden="true" style="padding-right: 5px;" ng-click='deleteHistory(history);'></fa>Detalle de {{moment(history.dateTime).format('L')}}</h2>
        <p><b>Intensidad:</b> {{::history.painLevel}} ({{::getHumanizedPainLevel(history.painLevel)}})</p>
        <p><b>S&iacute;ntomas:</b> {{::history.description}}</p>
        <p><b>Medicaci&oacute;n:</b>
            <fa name="plus-square-o" size="1" aria-hidden="true" class="add-more-medication-inside-dialog"></fa>
            <md-chips ng-model="::history.medications" readonly="true"><br /></md-chips>
        </p>
        <p><b>Duraci&oacute;n:</b> {{::moment.duration(moment(history.time).diff(history.duration)).humanize()}}</p>
        <!--fa name="check-square-o" size="1" aria-hidden="true" class="close-info-inside-dialog" ng-click="close();"></fa!-->
        <div class="margin: 0 auto;text-align: center">
            <md-button ng-click="close()">Editar</md-button>
            <md-button ng-click="close()">Cerrar</md-button>
        </div>
    </md-dialog-content>
</md-dialog>
