<md-dialog>
    <md-dialog-content class="md-dialog-content">
        <fa name="pencil-square-o" size="1" aria-hidden="true" class="edit-info-inside-dialog"></fa>
        <h2>{{::moment.duration(moment(history.time).diff(history.duration)).humanize()}}</h2>
        <p><b>Dolor:</b> {{::history.painLevel}} ({{::getHumanizedPainLevel(history.painLevel)}})</p>
        <p><b>Sent&iacute;:</b> {{::history.description}}</p>
        <p><b>Tom&eacute;:</b>
            <fa name="plus-square-o" size="1" aria-hidden="true" class="add-more-medication-inside-dialog"></fa>
            <md-chips ng-model="::history.medications" readonly="true"><br /></md-chips>
        </p>
        <fa name="check-square-o" size="1" aria-hidden="true" class="close-info-inside-dialog" ng-click="close();"></fa>
    </md-dialog-content>
    <!--md-dialog-actions>
              <md-button ng-click="closeDialog()" class="md-primary">
                Close Dialog
              </md-button>
            </md-dialog-actions-->
</md-dialog>