<md-dialog class="ok-dialog">
    <md-dialog-content class="md-dialog-content">
        <img src="/static/img/OK_FO3_small.png" />
        <md-button ng-click="close()">Aceptar</md-button>
    </md-dialog-content>
</md-dialog>
