<md-dialog>
    <md-dialog-content class="md-dialog-content">
        <h2>¿A qu&eacute; hora termin&oacute; el dolor?</h2>
        <md-input-container style="margin: 0px 0px 0px 0px;">
            <mdp-time-picker ng-model="time"></mdp-time-picker>
        </md-input-container>
        <md-dialog-actions>
            <md-button class="md-raised" ng-click='save(history.cell, moment(time).format("HH:mm"));'>Guardar</md-button>
        </md-dialog-actions>
    </md-dialog-content>
</md-dialog>