<md-dialog>
    <md-dialog-content class="md-dialog-content">
        <h2>¿A qu&eacute; hora termin&oacute; el dolor?</h2>
        <fa name="floppy-o" size="1" aria-hidden="true" class="close-info-inside-dialog" ng-click='save(history.cell, moment(time).format("HH:mm"));'></fa>

        <md-input-container style="margin: 0px 0px 0px 0px;">
            <mdp-time-picker ng-model="time"></mdp-time-picker>
        </md-input-container>
    </md-dialog-content>
</md-dialog>